/*
Text color (Black):#000000;
background color:#dfe6ed;
Primary Color (Lightgreen): #357b70;
Secondary Color (Lightbrown): #e0b354;
*/

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #dfe6ed;
  --background-color: #c3ffa6;
  --box-color: #809dba;
  --link-color: #072545;
  --link-color2: #0d0f78;
  --width-max: 800px;
  --font-weight1: 400;
  --font-weight2: 700;
  --h1-size: 20px;
  --font-weight: none;
  --font-size: none;
  --buttons-color: #4e6dd8;
  --buttons-text: none;
  --opacity: 0.8;
  --text-align-center: center;
}

.foot {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

body {
  background-color: var(--background-color);
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-weight1);
  font-size: 16.6px; /* Setting the size of font */
  line-height: 1.6; /* Setting the line between texts */
}

/* grouping profile page class */
.profile {
  max-width: var(--width-max);
  margin: auto;
}

/* grouping about page class */
.about {
  max-width: var(--width-max);
  margin: auto;
}

.about2 {
  max-width: var(--width-max);
  margin: auto;
}

/* grouping contact page class */
.contact {
  max-width: var(--width-max);
  margin: auto;
}

/* grouping projects page class */

.projects {
  max-width: var(--width-max);
  margin: auto;
}

/* formats for all headings */
h1 {
  font-size: 20px;
  font-weight: var(--font-weight2);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight2);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight2);
}

h4 {
  font-size: 16px;
  font-weight: var(--font-weight2);
}

/* index's heading introduction */

.intro__heading {
  margin-right: 10px;
  float: justify;
  font-family: Lucida;
}

/* index page image alighnment */
.Emmanuel__Onoapor {
  float: left;
  width: 150px;
  margin-right: none;
  border-radius: 50%;
}

/* within the work file */
.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item:last-child {
  grid-column-start: 3;
}

.grid__item {
  background-color: var(--box-color);
}

/* index's introduction texts */
.intro{
  text-align: left;
  padding: 10px;
  clear: both;
}

/* changing all link colors for my choice's */
a {
  color: var(--link-color);
}

/* No underlining when hovering over a link */

a:hover,
a:focus {
  text-decoration: none;
  color: var(--primary-color);
}

/* changing all visited links colors to my choice's */

a:visited {
  color: var(--link-color);
}

/* changing all selected links colors to my choice's */
a:active {
  color: var(--link-color2);
}

/* button on the index page */
button {
  border: none; /* overwrites browser defaults and resets the border */
  font-family: inherit; /* takes the font from the outer container */

  /* styles the background color, font color,
and text decoration (underline, etc.) of the button */

  background-color: var(--buttons--color);
  color: white;
  text-decoration: var(-buttons-texts);

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px,
  a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: var(--opacity);
}

/* Adding another botton with a different class */
.button__secondary {
  background-color: var(--buttons-color);
  color: var(--bottons-text);
  text-decoration: #5118ad;
}

/* buttons on about page */
%button-shared {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the button */
  background-color: var(--buttons--color);
  color: var(--primary--color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

/* dding additional properties that won’t be shared with @extend
background colour wont be shared */
.button {
  background-color: $primary-color;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* Mouse appear as a hand when hovering over button */
  cursor: pointer;

  /* reduces opacity of button to 80% */
  opacity: var(--opacity);
}

/* trying links for Specificity trial web link */

/* element selector for Specificity trial web link */
a {
  color: none;
}

/* class selector for Specificity trial web link */
.my-link {
  color: var(--primary-color);
}

/* colour changes of the graphic's sun */
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* cloud movements */
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* cloud movements */
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* background color & designs formats for p, div and span tags */

p {
  background-color: none;
}

div {
  background-color: none;
}

span {
  font-variant: small-caps;
  font-family: cursive;
  font-size: 17px;
  color: white;
  background-color: #242030;
}

/* formatting the footer */
.page-footer {
  font-style: italic;
  float: justify;
  font-size: 13px;
  max-width: 180px;
  margin: 0 auto;
  clear: both;
}

.foot {
  font-style: italic;
  float: center;
}

/* formatting navigation bar */{
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

/* logo */

.page-header__item {
  flex: 0 1 200px;
  width: 20%;
  height: 20%;
  position: none;
  top: 1px;
  left: 6px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 16px;
}

ul {
  border: 1px solid #555;
  background-color: none;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

/* Table */
table,
td,
th {
  border: 2px solid black;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th {
  height: 50px;
}

/* responsive classes settings.overarching media query screen ranges */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

/* sun's color changes */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

/* clouds movement */
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

/* second cloud movement */
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}
